[submodule "3Dev/libraries/Angelscript"]
	path = 3Dev/libraries/Angelscript
	url = https://github.com/codecat/angelscript-mirror.git
[submodule "3Dev/libraries/ReactPhysics3D"]
	path = 3Dev/libraries/ReactPhysics3D
	url = https://github.com/DanielChappuis/reactphysics3d.git
[submodule "3Dev/libraries/LightLog"]
	path = 3Dev/libraries/LightLog
	url = https://github.com/1Kuso4ek1/LightLog.git
[submodule "3Dev/libraries/TGUI"]
	path = 3Dev/libraries/TGUI
	url = https://github.com/texus/TGUI.git
[submodule "3Dev/libraries/SFML"]
	path = 3Dev/libraries/SFML
	url = https://github.com/SFML/SFML
[submodule "3Dev/libraries/glm"]
	path = 3Dev/libraries/glm
	url = https://github.com/g-truc/glm
[submodule "3Dev/libraries/assimp"]
	path = 3Dev/libraries/assimp
	url = https://github.com/assimp/assimp
[submodule "3Dev/libraries/jsoncpp"]
	path = 3Dev/libraries/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
